/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
img {
	border:0;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dl {
	margin:0 15px;
}
b, strong {
	font-weight:bold;
}
u, stroke {
	text-decoration:underline;
}
i, em {
	font-style:italic;
}
.quantityDiv .button {
	display:inline-block !important;
	margin:0 2px;
	padding:3px !important;
	height:11px !important;
	width:11px !important;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
	background-color:#eee;
	border:solid 1px #bbb;
}
.quantityDiv .button:hover {
	background-color:#cacaca;
	border-color:#999;
}